
<link rel="stylesheet" href="../style/sign&login">
<nav>
    <% if (user){ %>
    <a href="/auth/logout">Logout</a>
    <%= user.username %>


    <%} else{ %>
    <a href="/auth/login" class="sign&login" id="login">Login</a>
    <a href="/auth/sign-up" class="sign&login" id="signup">Sign Up</a>
    <%} %>
    
</nav>