<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/characters.css">
    <title>Home Page</title>
</head>
<body>
    <h1>Select your character</h1>
    <a href="/combos/ken" id="kenImg">
    <img src="https://wiki.supercombo.gg/images/thumb/0/05/SF6_Ken_Portrait.png/787px-SF6_Ken_Portrait.png?20221005201750" alt="Sf6 Ken">
    </a>
    <a href="/combos/akuma" id="akumaImg">
    <img src="https://wiki.supercombo.gg/images/thumb/b/be/SF6_Akuma_Portrait.png/738px-SF6_Akuma_Portrait.png?20240429100351" alt="Sf6 Akuma">
    </a>
</body>
</html>