<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo </title>
</head>
<body>
    <h1>Upload a Combo </h1>
    <form action="/combos/new" method="post">
        <!-- <label for=""></label> -->

        <label for="starter">Combo Starter: </label>
        <input type="text" name="starter" id="starter">

        <label for="description">Combo Description: </label>
        <input name="description" id="description" type="text">

        <label for="resource">Resource: </label>
        <input type="text" name="resource" id="resource">

        <label for="user">User: </label>
        <input type="user" name="user" id="user">

        <button type="submit">Upload</button>
    </form>    



</body>
</html>