<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo </title>
</head>
<body>
    <h1>Upload a Combo </h1>

    <form action="/combos/upload" method="post" enctype="multipart/form-data">
        <input name="video" type="file" >

<label for="starter">Combo Starter: </label>
        <input type="text" name="starter" id="starter">

        <label for="description">Combo Description: </label>
        <input name="description" id="description" type="text">

        <label for="resource">Resource: </label>
        <input type="text" name="resource" id="resource">

        <label for="user">User: </label>
        <input type="text" name="user" id="user">
       
        <button>Upload</button>
    </form>

    <!-- <form action="/combos/new" method="post" enctype="multipart/form-data">
        <label for="video">Choose a video: </label>
        <input type="file" name="video" id="video">


        

        <input type="file" name="video" />


        <button type="submit">Submit</button>
    </form>     -->



</body>
</html>