<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car details</title>
</head>
<body>
    <p>Combo Starter: <%= oneComboDetail.starter %></p>
    <p>Combo Description: <%= oneComboDetail.description %></p>
    <p>Combo resource: <%= oneComboDetail.resource %></p>
    <p>Combo Demenstration(video): <%= oneComboDetail.video %></p>
    
</body>
</html>

